body{
    
    font: 15px/1.5em Arial,Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color: #f4f4f4;
}

.container{
    width:80% ;
    margin: auto;
    overflow:hidden;
}

ul{
    margin:0;
    padding:0;
}

.button_1{
    height:38px;
    background: #fbc02a;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #000000;
    font-weight: bolder;
}

header{
    background-color: rgb(6,42,204);
    padding:20px;
    color: #f4f4f4;
    /*color: #fbc02a; */
    padding-top:30px;
    padding-bottom:20px;
    min-height:100px;
    border-bottom: #fbc02a 10px solid;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float:left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #main-title{
    float:left;
}

header #main-title h1{
    margin:0;
    padding: 10px;
    line-height:1.2em ;
}
 
header nav{
    float:right;
    margin-top:10px;
}

header .highlight, header .current a{
    color:white;
    font-weight: bold;
}

header a:hover{
    color:#fbc02a;
    font-weight:bold;
}

/* Showcase*/

#showcase{
    min-height:550px;
    background:url('../images/showcase.jpg') no-repeat;
    text-align:center;
    color:#ffffff;
}

#showcase h1{
    margin-top:80px;
    font-size:50px;
    margin-bottom:10px;
    line-height: 1em;
}

#showcase p{
    font-size: 20px;
}

/*Newsletter*/
#newsletter{
    padding:15px;
    color:#ffffff;
    background:#35424a; 
}

#newsletter h1{
    float:left;
}
#newsletter form{
    float:right;
    margin-top:15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    width:250px;
    height:20px;
}

/*Boxes*/

#boxes{
    margin-top:20px;
}
#boxes .box{
    float:left;
    text-align: center;
    width: 30%;
    padding:10px;
    
}

#boxes .box img{
    width:120px;
}

footer{
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color: rgb(6,42,204);
    text-align: center;
}





